:root {
    --amarillo-fondo: #fca311;
    --negro-puro: #000000;
    --naranja-texto: #ff8c00;
    --gris-nav: #7a7a7a;
    --morado-btn: #a98fe3;
    --blanco: #ffffff;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--amarillo-fondo);
}