.body{
    background-color: #ff8c00;
}
.contenedor-modulos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 20px;
    min-height: 70vh;
}

.tarjeta-modulo {
    background-color: #1a1a1a;
    border: 2px solid #ff8c00;
    border-radius: 15px;
    width: 250px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta-modulo:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(255, 140, 0, 0.3);
    background-color: #222;
}

.icono-modulo {
    font-size: 3rem;
    margin-bottom: 15px;
}

.tarjeta-modulo h2 {
    color: #ff8c00;
    margin: 10px 0;
    text-transform: uppercase;
}

.tarjeta-modulo p {
    color: #ccc;
    font-size: 0.9rem;
    line-height: 1.4;
}

.header-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 2px solid #7a7a7a;
}